.box {
  border: #0096c7 solid 2px;
  margin: auto;
  width: 100%;
  height: 800px;
  max-width: 100%;
  text-align: center;
}
.center {
  margin: auto;
  text-align: center;
}
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
.smallbox {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #cef0cd,
    #b5efcb,
    #95efcf,
    #6bedd9,
    #12ebe8
  );
  flex-direction: row;
}
.smallbox > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0px 0px 0px 0px;
  border: 0px;
  margin: 5px 5px 5px 5px;
  font-size: 25px;
}
.inc,
.dec {
  font-size: 35px;
}
.colorPicked {
  margin: 5px 5px 5px 5px;
  font-family: "Archivo", sans-serif;
  font-family: "Sora", sans-serif;
  height: 60px;
}
.inc,
.dec,
.size,
.clear,
.saveImage {
  font-family: "Archivo", sans-serif;
  font-family: "Sora", sans-serif;
  background-color: #e6ebf9;
}
.heading {
  margin: auto;
  width: 200px;
  color: white;
  font-family: "Sora", sans-serif;
  font-size: 50px;
}
.clear {
  margin-left: auto;
  height: 60px;
}
.saveImage {
  width: 140px;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73ad21;
}
.abovespace {
  margin-top: 70px;
}
@media screen and (max-width: 680px) {
  .smallbox {
    flex-direction: column;
  }
  .abovespace {
    margin-top: 280px;
  }
  .smallbox > * {
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px black solid;
    width: 100%;
    height: 40px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
  }
  .clear {
    margin-left: 0px;
    height: 40px;
  }
  .colorPicked {
    height: 40px;
    width: 100%;
  }
  .heading {
    color: white;
    background-image: linear-gradient(
      to right,
      #cef0cd,
      #b5efcb,
      #95efcf,
      #6bedd9,
      #12ebe8
    );
  }
}
